{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true
  },
  "plugins": [
    "simple-import-sort"
  ],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "root": true,
  "rules": {
    "curly": "error",
    "react/prop-types": "off",
    "simple-import-sort/sort": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
