---
import '@/styles/global.css'
import '@fontsource-variable/inter'
import interWoff2 from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url'
---

<!doctype html>
<html lang="en" class="size-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Software engineer from New Zealand. My specialties include googling error messages and modifying code copied from Stack Overflow. Little known fact: also dope on the mic."
    />
    <title>¯\_(ツ)_/¯</title>
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={interWoff2}
      crossorigin="anonymous"
    />
  </head>
  <body class="size-full">
    <slot />
  </body>
</html>
