---
import '@/styles/global.css'
import '@fontsource-variable/inter'
---

<!doctype html>
<html lang="en" class="size-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>¯\_(ツ)_/¯</title>
  </head>
  <body class="size-full">
    <slot />
  </body>
</html>
